<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Registrarse</h1>
        <form id="registrarse">
            <label for="nomb">Ingrese un usuario <input type="text" placeholder="Nombre" id="nomb" required> </label>
            <p>
            <label for="cont">Ingrese una contrase単a <input type="password" placeholder="Contrase単a" name="contra" id="cont" required> </label>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <p>
    <div>
        <h1>Logearse</h1>
        <form id="iniciarSesion">
            <label for="user">Ingrese su usuario <input type="text" placeholder="Nombre" id="user" required> </label>
            <p>
            <label for="pass">Ingrese su contrase単a <input type="password" placeholder="Contrase単a" id="pass" required> </label>
            <button type="submit">Iniciar Sesion</button>
        </form>
    </div>

    <script src="/index.js"></script>
</body>
</html>